@model PasswordManageVm

<div id="_passwordManage">
	@using (Ajax.BeginForm("PasswordManage", new AjaxOptions
	{
		InsertionMode = InsertionMode.Replace,
		UpdateTargetId = "_passwordManage"
	}))
	{
	@Html.AntiForgeryToken()
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h5 class="panel-title">Password</h5>
			</div>
			<div class="panel-body">
				@Html.StggValidationSummary()
				<div class="form-group">
					@Html.LabelFor(x => x.OldPassword):
					<div class="input-group">
						<span class="input-group-addon"><i class="icon-user-lock"></i></span>
						@Html.PasswordFor(x => x.OldPassword, new { @class = "form-control", @placeholder = "Enter your old password" })
					</div>
					@Html.ValidationMessageFor(x => x.OldPassword)
				</div>
				<div class="form-group">
					@Html.LabelFor(x => x.NewPassword):
					<div class="input-group">
						<span class="input-group-addon"><i class="icon-lock2"></i></span>
						@Html.PasswordFor(x => x.NewPassword, new { @class = "form-control", @placeholder = "Enter your new password" })
					</div>
					@Html.ValidationMessageFor(x => x.NewPassword)
				</div>
				<div class="form-group">
					@Html.LabelFor(x => x.ConfirmNewPassword):
					<div class="input-group">
						<span class="input-group-addon"><i class="icon-lock2"></i></span>
						@Html.PasswordFor(x => x.ConfirmNewPassword, new { @class = "form-control", @placeholder = "Re-enter your new password" })
					</div>
					@Html.ValidationMessageFor(x => x.ConfirmNewPassword)
				</div>
				<div class="text-right">
					<button type="submit" class="btn btn-primary">Save new password <i class="icon-arrow-right14 position-right"></i></button>
				</div>
			</div>
		</div>
	}
</div>