@model PasswordResetVm

@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!-- Unlock user -->
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(x => x.Token)
	@Html.HiddenFor(x => x.Email)

	<div class="panel panel-body login-form">
		<div class="text-center">
			<div class="icon-object border-warning text-warning">
				<i class="icon-lock"></i>
			</div>
		</div>

		<h6 class="content-group text-center text-semibold no-margin-top">@Model.FirstName @Model.LastName <small class="display-block">Change your password</small></h6>

		@Html.StggValidationSummary()

		<div class="form-group has-feedback">
			@Html.PasswordFor(x => x.Password, new { @placeholder = "Enter new password", @class = "form-control" })
			<div class="form-control-feedback">
				<i class="icon-lock4"></i>
			</div>
		</div>

		<div class="form-group has-feedback">
			@Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = "Confirm new password", @class = "form-control" })
			<div class="form-control-feedback">
				<i class="icon-lock2"></i>
			</div>
		</div>

		<button type="submit" class="btn btn-primary btn-block">Save new password <i class="icon-circle-right2 position-right"></i></button>

	</div>
}
<!-- /unlock user -->