@model AppUserRegisterVm

@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- Advanced register -->
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="panel panel-body login-form">
		<div class="text-center">
			<div class="icon-object border-success text-success">
				<i class="icon-user-plus"></i>
			</div>
			<h5 class="content-group">Create account <small class="display-block">All fields are required</small></h5>
		</div>

		@Html.StggValidationSummary()

		<div class="content-divider form-group"><span>Your credentials</span></div>

		<div class="form-group has-feedback has-feedback-left">
			@Html.TextBoxFor(x => x.UserName, new { @placeholder = "Username", @class = "form-control" })
			<div class="form-control-feedback">
				<i class="icon-user-check"></i>
			</div>
			@Html.ValidationMessageFor(x => x.UserName)
		</div>

		<div class="form-group has-feedback has-feedback-left">
			@Html.PasswordFor(x => x.Password, new { @placeholder = "Create password", @class = "form-control" })
			<div class="form-control-feedback">
				<i class="icon-user-lock"></i>
			</div>
			@Html.ValidationMessageFor(x => x.Password)
		</div>

		<div class="form-group has-feedback has-feedback-left">
			@Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = "Confirm password", @class = "form-control" })
			<div class="form-control-feedback">
				<i class="icon-user-lock"></i>
			</div>
			@Html.ValidationMessageFor(x => x.ConfirmPassword)
		</div>

		<div class="content-divider form-group"><span>Personal Information</span></div>

		<div class="form-group has-feedback has-feedback-left">
			@Html.TextBoxFor(x => x.Email, new { @placeholder = "Email address", @class = "form-control" })
			<div class="form-control-feedback">
				<i class="icon-mail5"></i>
			</div>
			@Html.ValidationMessageFor(x => x.Email)
		</div>

		<div class="form-group has-feedback has-feedback-left">
			@Html.TextBoxFor(x => x.ConfirmEmail, new { @placeholder = "Confirm email address", @class = "form-control" })
			<div class="form-control-feedback">
				<i class="icon-mail5"></i>
			</div>
			@Html.ValidationMessageFor(x => x.ConfirmEmail)
		</div>

		<div class="form-group has-feedback has-feedback-left">
			@Html.TextBoxFor(x => x.FirstName, new { @placeholder = "First name", @class = "form-control" })
			<div class="form-control-feedback">
				<i class="icon-info22"></i>
			</div>
			@Html.ValidationMessageFor(x => x.FirstName)
		</div>

		<div class="form-group has-feedback has-feedback-left">
			@Html.TextBoxFor(x => x.LastName, new { @placeholder = "Last name", @class = "form-control" })
			<div class="form-control-feedback">
				<i class="icon-info22"></i>
			</div>
			@Html.ValidationMessageFor(x => x.LastName)
		</div>

		<div class="content-divider form-group"><span>Additions</span></div>

		<div class="form-group">
			<div class="checkbox">
				<label>
					@Html.CheckBoxFor(x => x.SubscribeNewsletter, new { @class = "style" })
					Subscribe to StatTrack newsletter
				</label>
			</div>
			<div class="checkbox">
				<label>
					@Html.CheckBoxFor(x => x.AcceptTermsOfService, new { @class = "style" })
					Accept <a href="#">terms of service</a>
				</label>
			</div>
			@Html.ValidationMessageFor(x => x.AcceptTermsOfService)
		</div>

		<button type="submit" class="btn bg-primary btn-block btn-lg">Register <i class="icon-circle-right2 position-right"></i></button>
	</div>
}